body{
    background-color: #a917f8;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
.box img{
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.words{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
    list-style: none;
    padding: 0;
}
.words .letters{
    height: 40px;
    width: 30px;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

}
.words .letters.guessed{
    border-color: transparent;
}
.hints,.guesses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.guesses b{
    padding: 5px;
    color: rgb(248, 50, 50);
}
.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
.keyboard button{
    color: beige;
    background-color: #a917f8;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.keyboard button:hover{
    background-color: #d8a3f5;
}
.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center; 
    align-items: center;
}

.game-modal .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    max-width: 420px;
    width: 90%; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.game-modal .content p,button{
    margin-top: -10px;
}
.game-modal .content button{
    color: beige;
    background-color: #a917f8;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.game-modal .content button:hover{
    background-color: #d8a3f5;
}
.content img{
    margin-top: 10px;
    max-width: 120px;
}